html{
   font-family: sans-serif;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%
}

*,
:after,
:before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   outline: 0;
   border: 0
}
a {
   background-color: transparent;
   -webkit-text-decoration-skip: objects
}
a:active,
a:hover {
   outline-width: 0
}

h2{
   text-align: center;
   color: teal;
   font: 600 30px/1 pop,sans-serif;
   margin: 0 0 35px;
}

#categorias{
   padding: 34px 21px 65px;
}
/* .contenedor{
   display: flex;
   justify-content: space-between;
   max-width: 1150px;
   width: 100%;
   margin: 0 auto;
} */

.contenedorCategorias{
   display: flex;
   justify-content: space-evenly;
   max-width: 1150px;
   width: 100%;
   margin: 0 auto;
}

.etiquetas{
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   
   position: relative;
   text-decoration: none;
   height: 55px;
   border: 2px solid #00b7e1;
   border-radius: 13px;
   margin:5px 0 0;
   color: #00b7e1;
   padding: 0 21px;
   transition: filter .34s ease
}
.etiquetas:hover{
   filter: brightness(80%)
}

.contenedor p{
   margin: 0;
   bottom: 21px;
   font: 600 15px/1 pop,sans-serif;
}

.contenedor img{
   width: 70px;
}



#info-vehiculo-p img{
   width: 100%;
   height: 70vh;
   
}
#info-vehiculo-p .info-head{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 8px 5rem;
}

.info-head input{
   border: thin solid orangered;
   padding: 7px;
   cursor: pointer;
   background: none;
}
.info-head h2{
   margin: 0;
}

#info-vehiculo-c{
   max-width: 1125px;
   margin: 0 auto;
}

#info-vehiculo-c .especificaciones{
   margin: 2rem 0 0;
   text-align: center;
}

.especificaciones h1{
margin-bottom: 2rem;
}

.especificaciones-detalle{
   display: flex;
   max-width: 900px;
   margin: auto;
   justify-content: space-evenly;
   margin-bottom: 5rem;
}

.especificaciones-detalle div span{
   display: block;
}

.especificaciones-detalle .der{
   font-weight: bold;
}



@media screen and (min-width: 1025px) {

   #categorias{
      padding: 55px 0;
   }

   .contenedor{
      display: flex;
      justify-content: space-between;
      max-width: 1150px;
      width: 100%;
      margin: 0 auto;
   }

   .etiquetas{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      text-decoration: none;
      width: 120px;
      height: 120px;
      border: 2px solid #00b7e1;
      border-radius: 13px;
      margin:5px 0 0;
      color: #00b7e1;
      padding: 0 21px;
      transition: filter .34s ease
   }

   .contenedor img{
      width: 100%;
      margin: 0 0 13px;
   }

   .contenedor p{
      position: absolute;
   }

   
}
