html{
   font-family: sans-serif;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%
}

*,
:after,
:before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   outline: 0;
   border: 0
}
a {
   background-color: transparent;
   -webkit-text-decoration-skip: objects
}
a:active,
a:hover {
   outline-width: 0
}

h2{
   text-align: center;
   color: teal;
   font: 600 30px/1 pop,sans-serif;
   margin: 0 0 35px;
}

#categorias{
   padding: 34px 21px 65px;
}
/* .contenedor{
   display: flex;
   justify-content: space-between;
   max-width: 1150px;
   width: 100%;
   margin: 0 auto;
} */

.contenedorCategorias{
   display: flex;
   justify-content: space-evenly;
   max-width: 1150px;
   width: 100%;
   margin: 0 auto;
}

a{
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   
   position: relative;
   text-decoration: none;
   height: 55px;
   border: 2px solid #00b7e1;
   border-radius: 13px;
   margin:5px 0 0;
   color: #00b7e1;
   padding: 0 21px;
   transition: filter .34s ease
}
a:hover{
   filter: brightness(80%)
}

.contenedor p{
   margin: 0;
   bottom: 21px;
   font: 600 19px/1 pop,sans-serif;
}

.contenedor img{
   width: 70px;
}


@media screen and (min-width: 1025px) {

   #categorias{
      padding: 55px 0;
   }

   .contenedor{
      display: flex;
      justify-content: space-between;
      max-width: 1150px;
      width: 100%;
      margin: 0 auto;
   }

   a{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      text-decoration: none;
      width: 120px;
      height: 120px;
      border: 2px solid #00b7e1;
      border-radius: 13px;
      margin:5px 0 0;
      color: #00b7e1;
      padding: 0 21px;
      transition: filter .34s ease
   }

   .contenedor img{
      width: 100%;
      margin: 0 0 13px;
   }

   .contenedor p{
      position: absolute;

   }
}
